body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron-nobg {
    background-color: transparent;
}

.body-vh {
    min-height: 100vh;
    background-color:white;

    border-radius:1%;
}

.body-vh:hover{
    animation-name:body-hover;
    animation-duration: 3s;
}

body{
    padding-top:10px;
    background-color:#e0e0e0;
}
.img-linebreak {
    width:100%;
    max-height: 5px;
}

@keyframes body-hover {
    from {background-color:initial}
    to{background-color: black}
}